<form class="w-[75%] m-auto border-1 rounded">
  <h2 class="bg-emerald-500 p-2 font-bold text-center text-white">
    Đăng nhập 'Admin
  </h2>
  <div class="m-3">
    Email:
    <input
      type="email"
      class="w-full border p-1"
      [(ngModel)]="user.email"
      name="email"
    />
  </div>
  <div class="m-3">
    Mật khẩu:
    <input
      type="password"
      class="w-full border p-1"
      [(ngModel)]="user.mat_khau"
      name="mat _khau"
    />
  </div>
  <div class="m-3">
    <button class="bg-emerald-400 px-4 py-2" type="button" (click)="dangnhap()">
      Đăng nhập
    </button>
    <b class="text-red-500 italic ml-4">{{ thong_bao }}</b>
  </div>
</form>
