<div class="w-full flex justify-between items-center px-6">
  <h1 class="text-3xl font-bold">HÙNG BÁN LAPTOP</h1>
  <nav class="ml-[180px]">
    <ul class="flex gap-6 text-white text-lg">
      <li>
        <a routerLink="/tin-tuc" class="hover:text-yellow-400">Tin tức</a>
      </li>
      <li>
        <a routerLink="/lien-he" class="hover:text-yellow-400">Liên hệ</a>
      </li>
      <li>
        <a routerLink="/dang-ky" href="/dang-ky" class="hover:text-yellow-400"
          >Đăng ký</a
        >
      </li>
      <li>
        <a
          routerLink="/dang-nhap"
          href="/dang-nhap"
          class="hover:text-yellow-400"
          >Đăng nhập</a
        >
      </li>
      <li>
        <a routerLink="/gio-hang" href="/gio-hang" class="hover:text-yellow-400"
          >Giỏ Hàng</a
        >
      </li>
    </ul>
  </nav>
</div>
